<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static',filename='components/jquery/jquery.min.js') }}"></script>

    <title>Title</title>
</head>
<body>
<form action="#" method="post" onsubmit="return post_btn()">

    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="submit" value="提交">

</form>

<script type="text/javascript">
    function post_btn() {
        var username = $('#username').val();
        var password = $('#password').val();
        var data = {
            'username': username,
            'password': password
        }
        console.log(data)
        $.ajax({
            url: '/post',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res.data)
                console.log(0)

            },
            error: function (res) {
                console.log(res);
                console.log(1)
            }
        })
        return false
    }
</script>

</body>
</html>
