<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static',filename='img/2.jpg') }}" type="image/x-icon"/>
    <!--  CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ url_for('static',filename='css/public.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% block requires %} {% endblock %}
    <title>Aipy</title>

</head>
<body style="background-color:white">

<nav class="navbar  navbar-expand-md sticky-top navbar-light bg-white ">
    <div class="container">
        <a class="navbar-brand" href="#">Aipy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-2" id="navbarSupportedContent">
            <ul class="navbar-nav  col">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" disabled="">
                    <a class="nav-link" href="#">热门</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        分类
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>

            <ul class="navbar-nav col order-3 justify-content-end">
                <li class="nav-item ">
                    <a class="nav-link" href="#"> 购物车</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">个人中心</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block main %}


    {% endblock %}
</div>
<div class="base-footer" >
   <div class="footer"> 版权所有:goobai</div>
</div>

<!-- js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
